# User credentials (Never commit these!)
oauth_creds.json
google_accounts.json
google_account_id
auth_profiles/

# App results & Cache
quota_result.json
quota_cache.json
.auto_switch_retry_count
.last_quota_error

# Python cache
__pycache__/
*.pyc

# Python Virtual Environments
.venv/
env/
.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
